.header {
  display: flex;
  align-items: center;
  padding: 0 10vw;
  justify-content: space-between;
  box-shadow: 0px 3px 58px 0px #04c3ff16;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1024;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.header .close-btn {
  display: none;
}
.header .logo {
  /* -webkit-box-reflect: below -60px linear-gradient(transparent, rgba(0, 0, 0, 0.2)); */
  position: relative;
  font-size: 78px;
  font-family: "Poppins-Black";
  color: #0abead;
  cursor: pointer;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.header .logo h1,
.header .logo h2 {
  font-size: 100%;
  margin: 0;
}
.header .logo h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #0abead;
}
.header .logo h1:nth-child(2) {
  position: absolute;
  top: 0;
  animation: waterEffect 4s linear infinite;
  -webkit-animation: waterEffect 4s linear infinite;
}
@-webkit-keyframes waterEffect {
  0%,
  100% {
    clip-path: polygon(
      0 62%,
      11% 48%,
      20% 41%,
      32% 41%,
      43% 46%,
      53% 56%,
      66% 67%,
      75% 69%,
      85% 65%,
      90% 59%,
      100% 42%,
      100% 100%,
      0 100%
    );
  }
  50% {
    clip-path: polygon(
      0 43%,
      6% 56%,
      16% 67%,
      29% 71%,
      42% 66%,
      53% 56%,
      61% 48%,
      71% 41%,
      83% 41%,
      93% 49%,
      100% 64%,
      100% 100%,
      0 100%
    );
  }
}
.header .logo:hover {
  text-decoration: unset;
  color: #0abead50;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header .header__nav {
}
.header .header__nav ul {
  margin: 0;
  list-style: none;
  display: flex;
}
.header .header__nav ul li,
.header .header__nav ul li a {
  font-family: "Poppins-Medium";
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.header .header__nav ul li:hover,
.header .header__nav ul li a:hover,
.header .header__nav ul li.selected {
  color: #0abead;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header .header__nav ul li + li {
  margin-left: 24px;
}

.style-scroll {
  background-color: #0cbfae;
  box-shadow: 0px 3px 58px 0px #ffffff;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.style-scroll .header__nav ul li,
.style-scroll .header__nav ul li a {
  color: #fff;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.style-scroll .logo {
  color: #fff;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.style-scroll .logo h1:nth-child(1) {
  -webkit-text-stroke: 2px #fff;
}
.style-scroll .logo:hover {
  color: #000;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.style-scroll .header__nav ul li:hover,
.style-scroll .header__nav ul li a:hover,
.style-scroll .header__nav ul li.selected {
  color: #000;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.header-mobile {
  display: none;
}
/**Responsive */
@media screen and (max-width: 767px) {
  .header-mobile {
    width: 100vw;
    display: block;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 3px 58px 0px #04c3ff16;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1024;
  }
  .header-mobile.style-scroll-mobile {
    background-color: #0cbfae;
    box-shadow: 0px 3px 58px 0px #ffffff;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
  }
  .header-mobile img {
    width: 40px;
    position: fixed;
    top: 10px;
    left: 4px;
  }
  .header {
    height: 100vh;
    width: 100vw;
    padding: 0;
    position: fixed;
    background-color: #0abead;
    overflow: hidden;
    left: -100%;
    z-index: 1025;
    display: block;
  }
  .header.show {
    animation: show-menu 1s forwards;
    -webkit-animation: show-menu 1s forwards;
  }
  .header.hide {
    animation: hide-menu 1s forwards;
    -webkit-animation: hide-menu 1s forwards;
  }
  .header .logo h1:nth-child(1) {
    -webkit-text-stroke: 2px #fff;
  }
  .header .logo h1:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .header .close-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 4px;
    z-index: 1000;
  }
  .header .close-btn img {
    width: 40px;
  }
  .header .logo {
    text-align: center;
    color: #fff;
  }
  .header .logo:hover {
    color: #000;
  }
  .header .header__nav {
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header__nav ul {
    padding: 0;
    display: block;
    text-align: center;
  }
  .header .header__nav ul li + li {
    margin-left: 0;
    margin-top: 20px;
  }
  .header .header__nav ul li,
  .header .header__nav ul li a {
    font-size: 24px;
    color: #fff;
  }
  .header .header__nav ul li:hover,
  .header .header__nav ul li a:hover,
  .header .header__nav ul li.selected {
    color: #000;
    font-weight: bold;
  }
}

@-webkit-keyframes show-menu {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes hide-menu {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
